body {
    background-size: cover;
}
h1 {
    font-size: 2.5rem;
}
h5 {
    font-size: 30px;
    font-weight: 400;
}
div.content {
    background-color: rgba(177, 192, 197, 0.8);
    height: 600px;
    border-radius: 30px;
}
img {
    width: 60px;
    height: 60px;
    cursor: default;
}