* {
    margin: 0%;
    padding: 0%;
}
body {
    background-image: url('../images/2587476.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("../css/cursor-png-1108.gif"), auto;
}
div.task-bar {
    background-color: rgb(64, 64, 64);
    position: relative;
    width: 100%;
    height: 30px;
}
a {
    color: rgb(171, 171, 171);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    cursor: default;
    text-underline-offset: none;
    cursor: url("../cursorr.png"), auto;
}
a:hover {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    cursor: default;
    cursor: url("../cursorr.png"), auto;
}
div.container {
    cursor: url("../cursorr.png"), auto;
}
html {
    height: 100%;
    width: 100%;
    cursor: url("../cursorr.png"), auto;
}
#icon-center {
    text-align: center;
    cursor: url("../cursorr.png"), auto;
}
div.about-app {
    cursor: url("../cursorr.png"), auto;
}
option {
    cursor: url("../cursorr.png"), auto;
    background-color: rgb(39, 39, 39);
}